body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  background: linear-gradient(
    203deg,
    rgba(131, 58, 180, 0.9) 0%,
    rgba(253, 29, 29, 0.9) 50%,
    rgba(252, 176, 69, 0.9) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.user-div:hover {
  background-color: rgb(250, 250, 250);
}

.gray-bg {
  background-color: rgb(245, 245, 245);
}

.messages-box {
  height: 500px;
  overflow-y: scroll;

  scrollbar-width: none;
}

.messages-box::-webkit-scrollbar {
  display: none;
}
.user-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.message-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.info-text {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 0.5rem;
}
.react-button-popover {
  height: 30px;
  width: max-content;
}

.react-icon-button {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  font-size: 1rem !important;
  transition: 0.25s !important;
}

.react-icon-button:hover {
  text-decoration: none !important;
  font-size: 1.5rem !important;
}

.btn:focus {
  box-shadow: none !important;
}

.reactions-div {
  position: absolute !important;
  right: -10px !important;
  bottom: -25px !important;
  font-size: 0.9rem !important;
}
